main {
    font-family: 'Roboto', sans-serif;
    margin-top:150px;
    margin-left:150px;
    margin-right:150px;
}
.main-color {
    font-size: 20px !important;
    color: #FF9C67 !important;
    font-family: 'Inter', sans-serif !important;
}

    .main-color:hover {
        color: #FFC4A4 !important;
    }

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

.icon-footer{
    width:25px;
    height:25px;
}
a {
    color: #FF9C67;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

    a:hover {
        color: #FFC4A4;
    }

.highlight-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.left-div, .right-div {
    width: 25%;
    height: 3px;
    background-color: #FBA2D0;
}

/*footer, container {
    background: #ffffff;
}*/
.myft{
    width:100%;

}
.navbar .nav-link {
    font-weight: 500;
}

.nav-item .dropdown-menu {
    min-width: 150px;
}

.navbar-brand img {
    max-width: 100px;   
}

.custom-dropdown-menu {
    right: 0;
    left: auto;
}
