body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #EB567B, #3FBCF8);
    height: 100%;
    margin: 0;
    width: 100%;
}

.head {
    height: 8%;
    background-color: white;
}

.Dangky-container {
    position: relative;
    left: 60%;
    top: 10%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 25%;
    height: 60%;
}

.Dangky-form h2 {
    position: relative;
    bottom: 17px;
    left: 10px;
    margin-bottom: 20px;
    color: #333;
}

.Name label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.Email label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.SDT label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.Password label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.CF-Password label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.Name {
    width: 90%;
    padding: 10px;
}

.Email {
    width: 90%;
    padding: 10px;
}

.SDT {
    width: 90%;
    padding: 10px;
}

.Password {
    width: 90%;
    padding: 10px;
}

.CF-Password {
    width: 90%;
    padding: 10px;
}

.Name input {
    position: relative;
    top: 10px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

    .Name input:focus {
        border-color: #EB567B;
    }

.Name label {
    position: absolute;
    top: 80px;
    left: 30px;
    color: #aaa;
    font-size: 16px;
    transition: all 0.3s;
    pointer-events: none;
}

.Name input:focus + label,
.Name input:not(:placeholder-shown) + label {
    font-size: 12px;
    color: #3FBCF8;
}

.Email input {
    position: relative;
    top: 25px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

    .Email input:focus {
        border-color: #EB567B;
    }

.Email label {
    position: absolute;
    top: 160px;
    left: 30px;
    color: #aaa;
    font-size: 16px;
    transition: all 0.3s;
    pointer-events: none;
}

.Email input:focus + label,
.Email input:not(:placeholder-shown) + label {
    font-size: 12px;
    color: #3FBCF8;
}

.SDT input {
    position: relative;
    top: 38px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

    .SDT input:focus {
        border-color: #EB567B;
    }

.SDT label {
    position: absolute;
    top: 235px;
    left: 30px;
    color: #aaa;
    font-size: 16px;
    transition: all 0.3s;
    pointer-events: none;
}

.SDT input:focus + label,
.SDT input:not(:placeholder-shown) + label {
    font-size: 12px;
    color: #3FBCF8;
}

.Password input {
    position: relative;
    top: 50px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

    .Password input:focus {
        border-color: #EB567B;
    }

.Password label {
    position: absolute;
    top: 310px;
    left: 30px;
    color: #aaa;
    font-size: 16px;
    transition: all 0.3s;
    pointer-events: none;
}

.Password input:focus + label,
.Password input:not(:placeholder-shown) + label {
    font-size: 12px;
    color: #3FBCF8;
}

.CF-Password input {
    position: relative;
    top: 60px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

    .CF-Password input:focus {
        border-color: #EB567B;
    }

.CF-Password label {
    position: absolute;
    top: 382px;
    left: 30px;
    color: #aaa;
    font-size: 16px;
    transition: all 0.3s;
    pointer-events: none;
}

.CF-Password input:focus + label,
.CF-Password input:not(:placeholder-shown) + label {
    font-size: 12px;
    color: #3FBCF8;
}

.signup {
    position: absolute;
    left: 30px;
    width: 90%;
    height: 10%;
    padding: 10px;
    background: linear-gradient(45deg, #EB567B,#3FBCF8);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 65px;
    left: 10px;
}

    .signup:hover {
        background: linear-gradient(45deg,#3FBCF8,#EB567B);
    }
