<html>
<head>
    <style>
        .container-product {
            margin-top: 150px;
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 sản phẩm trên một hàng */
            gap: 30px; /* Khoảng cách giữa các sản phẩm */
        }

        .product {
            width: 330px;
        }

        .product-head {
            cursor: pointer;
            display: grid;
            place-items: center;
        }

        .product-info {
            text-align: center;
            background: linear-gradient(45deg, #EB567B, #3FBCF8);
        }

        .product-info-name {
            font-weight: bold;
            font-size: 18px;
        }

        .product-info-descrip {
            font-size: 17px;
        }
    </style>
</head>
<body>
    <div class="container-product">
        @foreach (var a in ViewBag.listAmThuc)
        {
            <div class="product">
                <div class="product-head">
                    <a href="@a[3]"><img src="~/Images/@a[2]"></a>
                </div>
                <div class="product-info">
                    <div class="product-info-name">@a[1]</div>
                    <div class="product-info-descrip">@a[4]</div>
                </div>
            </div>
        }
    </div>
</body>
</html>