@{
    ViewBag.Title = "Contact";
}

<head>
    <title>Giới Thiệu</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </main>
</body>
</html>