<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang Chủ</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/custom.css" />
</head>
<body>
        <h3">Top Fixed </h3>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>

        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>

        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
        <h1>Scroll this page to see the effect</h1>


</body>
</html>
