
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/floor.css" rel="stylesheet" />

<main>
    <div class="highlight-container" style="margin-top:125px; margin-bottom:25px">
        <div class="left-div"></div>
        <h3 style="color: #FBA2D0;">SƠ ĐỒ TẦNG</h3>
        <div class="right-div"></div>
    </div>
    <p>
        Sơ đồ tầng Van Hanh Mall gồm 1 tầng hầm (tầng B) và 7 tầng thương mại được phân chia theo từng phân khu chức năng. Để xem chi tiết sơ đồ tầng vui lòng chọn tầng tương ứng và để xem chi tiết bạn click hình để phóng lớn
    </p>
    <p>
        Tải thông tin tầng chi tiết/Floor guide <a href="https://drive.google.com/file/d/1vUzliDv6lWT8lEV3M_T9tKXrPuPoSefv/view">tại đây</a>
    </p>
    <hr />
    <div class="custom-dropdown">
        <button class="dropdown-toggle floor-map-toggle">
            Sky Mall | Tầng 1
        </button>
        <div class="dropdown-menu" style="border:none">
            <div class="img-inner">
                <img width="1631" height="2197" src="https://vanhanhmall.com/wp-content/uploads/2024/10/Website-Map-02.png">
            </div>
        </div>
    </div>
    <hr />
    <div class="custom-dropdown" >
        <button class="dropdown-toggle">
            Sky Mall Tầng | 2
        </button>
        <div class="dropdown-menu" style="border:none">
            <div class="img-inner">
                <img width="1631" height="2197" src="https://vanhanhmall.com/wp-content/uploads/2024/08/Website-Map-03.png" alt="" decoding="async">
            </div>
        </div>
    </div>
    <hr />
    <div class="custom-dropdown">
        <button class="dropdown-toggle">
            Sky Mall Tầng | 3
        </button>
        <div class="dropdown-menu" style="border:none">
            <div class="img-inner">
                <img width="1631" height="2197" src="https://vanhanhmall.com/wp-content/uploads/2024/08/Website-Map-04.png" alt="" decoding="async">
            </div>
        </div>
    </div>
    <hr />
    <div class="custom-dropdown">
        <button class="dropdown-toggle">
            Sky Mall Tầng | 4
        </button>
        <div class="dropdown-menu" style="border:none">
            <div class="img-inner ">
                <img width="1631" height="2197" src="https://vanhanhmall.com/wp-content/uploads/2024/08/Website-Map-05.png" alt="" decoding="async">
            </div>
        </div>
    </div>
    <hr />
    <div class="custom-dropdown">
        <button class="dropdown-toggle">
            Sky Mall Tầng | 5
        </button>
        <div class="dropdown-menu" style="border:none">
            <div class="img-inner ">
                <img width="1631" height="2197" src="https://vanhanhmall.com/wp-content/uploads/2024/08/Website-Map-06.png" alt="" decoding="async">
            </div>
        </div>
    </div>
    <hr />
    <div class="custom-dropdown">
        <button class="dropdown-toggle">
            Sky Mall Tầng | 6
        </button>
        <div class="dropdown-menu" style="border:none">
            <div class="img-inner ">
                <img width="1631" height="2197" src="https://vanhanhmall.com/wp-content/uploads/2024/08/Website-Map-07.png" alt="" decoding="async">
            </div>
        </div>
    </div>
    <hr />
    <div class="custom-dropdown">
        <button class="dropdown-toggle">
            Sky Mall Tầng | 7
        </button>
        <div class="dropdown-menu" style="border:none">
            <div class="img-inner ">
                <img width="1631" height="2197" src="https://vanhanhmall.com/wp-content/uploads/2022/08/Website-Map-08.jpg" alt="" decoding="async">
            </div>
        </div>
    </div>
    <hr />
    <div class="custom-dropdown" style="border:none">
        <button class="dropdown-toggle">
            Sky Mall Tầng | B
        </button>
        <div class="dropdown-menu">
            <div class="img-inner ">
                <img width="1631" height="2197" src="https://vanhanhmall.com/wp-content/uploads/2024/04/Website-Map-01.png" alt="" decoding="async">
            </div>
        </div>
    </div>
    <hr />
    <div>
        <img style="width:1050px; height:218px" src="https://vanhanhmall.com/wp-content/uploads/2018/04/footer-banner.jpg" alt="Alternate Text" />
    </div>
    <script>
        // Lắng nghe sự kiện click trên nút dropdown
        document.querySelectorAll('.dropdown-toggle').forEach(function (button) {
            button.addEventListener('click', function (event) {
                // Ngăn không cho sự kiện click của nút đi ra ngoài
                event.stopPropagation();

                // Lấy phần tử .custom-dropdown gần nhất để thay đổi trạng thái hiển thị menu
                var dropdown = this.closest('.custom-dropdown');

                // Toggle lớp 'show' để mở hoặc đóng menu
                dropdown.classList.toggle('show');
            });
        });

        // Đóng tất cả dropdown nếu click ra ngoài
        window.addEventListener('click', function (event) {
            // Kiểm tra xem có click vào bên trong dropdown không
            document.querySelectorAll('.custom-dropdown').forEach(function (dropdown) {
                // Nếu click vào phần tử ngoài dropdown thì ẩn tất cả dropdown
                if (!dropdown.contains(event.target)) {
                    dropdown.classList.remove('show');
                }
            });
        });

    </script>

</main>
