
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<main>

    <div class="highlight-container" style="margin-top:125px; margin-bottom:25px">
        <div class="left-div"></div>
        <h3 style="color: #FBA2D0;">SƠ ĐỒ TẦNG</h3>
        <div class="right-div"></div>
    </div>
    <p>
        Sơ đồ tầng Van Hanh Mall gồm 1 tầng hầm (tầng B) và 7 tầng thương mại được phân chia theo từng phân khu chức năng. Để xem chi tiết sơ đồ tầng vui lòng chọn tầng tương ứng và để xem chi tiết bạn click hình để phóng lớn
    </p>
    <p>
        Tải thông tin tầng chi tiết/Floor guide <a href="https://drive.google.com/file/d/1vUzliDv6lWT8lEV3M_T9tKXrPuPoSefv/view">tại đây</a>
    </p>


    <div class="container mt-lg-20">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Thành phần 1</a>
                <a class="dropdown-item" href="#">Thành phần 2</a>
                <a class="dropdown-item" href="#">Thành phần 3</a>
            </div>
        </div>
    </div>


    <img width="1920" height="400" src="https://vanhanhmall.com/wp-content/uploads/2018/04/footer-banner.jpg" class="image wp-image-2995  attachment-full size-full" alt="" decoding="async" style="max-width: 100%; height: auto;" loading="lazy" srcset="https://vanhanhmall.com/wp-content/uploads/2018/04/footer-banner.jpg 1920w, https://vanhanhmall.com/wp-content/uploads/2018/04/footer-banner-800x167.jpg 800w, https://vanhanhmall.com/wp-content/uploads/2018/04/footer-banner-768x160.jpg 768w, https://vanhanhmall.com/wp-content/uploads/2018/04/footer-banner-1400x292.jpg 1400w" sizes="(max-width: 1920px) 100vw, 1920px">

</main>