
@{
    ViewBag.Title = "MatBang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "UuDai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ưu Đãi</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <h1>Mặt Bằng</h1>
    </main>
</body>
</html>
