
@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Admin Panel</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/admin.css")" rel="stylesheet" />
</head>
<body>
    <h2>Admin Panel</h2>

</body>
</html>
