
@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin Panel</title>
    <link href="@Url.Content("~/Content/admin.css")" rel="stylesheet" />

</head>
<body>
    <h2>Admin Panel</h2>
</body>
</html>
