
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Đăng Ký</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/Register.css")" rel="stylesheet" />

</head>
<body>
    <div class="Dangky-container">
        <form class="Dangky-form">
            <h2>Đăng Ký</h2>
            <div class="Name">
                <input type="text" placeholder=" " id="username">
                <label for="username">Họ Và Tên</label>
            </div>
            <div class="Email">
                <input type="text" placeholder=" " id="email">
                <label for="username">Địa chỉ email</label>
            </div>
            <div class="SDT">
                <input type="text" placeholder=" " id="sdt">
                <label for="username">Số Điện Thoại</label>
            </div>
            <div class="Password">
                <input type="password" placeholder=" " id="pass">
                <label for="username">Mật Khẩu</label>
            </div>
            <div class="CF-Password">
                <input type="password" placeholder=" " id="cfpass">
                <label for="username">Xác Nhận Mật Khẩu</label>
            </div>
            <button class="signup" type="submit">Đăng Ký</button>
        </form>
    </div>
</body>
</html>