@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-container">
        <form class="login-form">
            <h2>Đăng nhập</h2>
            <div class="input-group">
                <input type="text" placeholder=" " id="username">
                <label for="username">Tên đăng nhập</label>
            </div>
            <div class="input-group">
                <input type="password" placeholder=" " id="pass">
                <label for="pass">Mật Khẩu</label>
            </div>
            <button class="signin" type="submit">Đăng nhập</button>
            <a href="#" class="forgot-password">Quên mật khẩu</a>
        </form>
        <div class="line-with-text">
            <span class="line-text">Hoặc</span>
        </div>
        <div class="fb-gg-btn">
            <button class="fb-btn">
                <div class="chua-fb">
                    <div class="fb">
                        <img src="~/Images/icon-fb.png" alt="Facebook Logo">
                    </div>
                </div>
            </button>
            <button class="gg-btn">
                <div class="chua-gg">
                    <div class="gg">
                        <img src="~/Images/icon-gg.png" alt="Google Logo">
                    </div>
                </div>
            </button>
        </div>
        <div class="dangki">
            <div class="textbt"> Bạn chưa có tài khoản? </div>
            <div class="link">
                <a href="@Url.Action("DangKy", "Home")">Đăng Ký</a>
            </div>
        </div>
    </div>
</body>
</html>
